*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  line-height: 1.6;
  color: #fff; }

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 13rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
  grid-template-rows: 90vh 40vw repeat(3, min-content); }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: 90vh 85vw repeat(3, min-content); } }
  @media only screen and (max-width: 37.45em) {
    .container {
      grid-template-rows: 90vh auto repeat(3, min-content); } }

::selection {
  background-color: #606b74; }

.header {
  background-image: url(../img/header-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  position: relative;
  grid-column: full-start/full-end; }
  .header__navigation {
    list-style: none;
    position: absolute;
    top: 50%;
    right: 0;
    writing-mode: vertical-lr;
    transform: translateY(-70%);
    display: flex;
    justify-content: space-between; }
  .header__item {
    margin-top: 4rem;
    margin-right: 2rem; }

.content {
  display: grid;
  grid-template-rows: 1fr minmax(min-content, 60vh);
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end]; }
  .content__grid {
    grid-row: 2/-1;
    grid-column: center-start/center-end;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 50%));
    grid-column-gap: 13rem;
    align-items: center; }
    @media only screen and (max-width: 37.45em) {
      .content__grid {
        grid-column-gap: 0;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); } }
  .content__text-box {
    display: grid;
    grid-template-rows: 1fr minmax(min-content, max-content);
    grid-row-gap: 1.2rem; }
    @media only screen and (max-width: 30em) {
      .content__text-box {
        align-self: end; } }
  .content__text {
    font-weight: 500;
    font-size: 1.8rem;
    opacity: 0.8; }
  .content__btn-box {
    justify-self: center; }
    @media only screen and (max-width: 30em) {
      .content__btn-box {
        justify-self: start; } }
  .content__btn {
    display: flex;
    align-items: center;
    position: relative; }
    .content__btn:link, .content__btn:visited {
      text-decoration: none;
      color: inherit;
      font-size: 1.5rem;
      font-weight: 500; }
    .content__btn::before {
      content: "" url(../img/Shape.png);
      background-size: cover;
      height: 3rem;
      width: 3rem;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0px 0.2rem 2rem rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
      z-index: 100; }
    .content__btn::after {
      content: '';
      display: inline-block;
      position: absolute;
      left: -0.5rem;
      height: 4rem;
      width: 4rem;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      animation: scaleUp 2s infinite; }

.materials {
  background-color: #fff;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end]; }
  .materials__grid {
    grid-column: center-start/center-end;
    display: grid;
    grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end]; }
    @media only screen and (max-width: 56.25em) {
      .materials__grid {
        align-items: start; } }
    @media only screen and (max-width: 37.45em) {
      .materials__grid {
        justify-items: center; } }
  .materials__text-box {
    grid-column: full-start/col-end 4;
    display: grid;
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: 4rem minmax(min-content, 6rem) 1fr;
    grid-row-gap: 2rem;
    padding: 6rem 0; }
    @media only screen and (max-width: 50em) {
      .materials__text-box {
        grid-column: full-start/full-end; } }
  .materials__text {
    color: #646d70;
    font-size: 1.4rem;
    width: 70%; }
  .materials__photo {
    grid-column: col-start 5/ -1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr); }
    @media only screen and (max-width: 50em) {
      .materials__photo {
        grid-column: full-start/full-end; } }
    @media only screen and (max-width: 37.45em) {
      .materials__photo {
        grid-template-columns: repeat(3, 10rem);
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 1rem; } }
  .materials__img {
    width: 100%;
    height: 35rem;
    grid-row: 1/-1;
    align-items: center;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    outline-offset: 1rem;
    cursor: pointer; }
    @media only screen and (max-width: 50em) {
      .materials__img {
        height: 25rem; } }
    @media only screen and (max-width: 37.45em) {
      .materials__img {
        height: none; } }
    .materials__img--1 {
      grid-column: 1 / span 4;
      grid-row: 4 / -1;
      object-fit: cover; }
      @media only screen and (max-width: 56.25em) {
        .materials__img--1 {
          grid-row: 2 / 7; } }
      @media only screen and (max-width: 37.45em) {
        .materials__img--1 {
          grid-column: 1 / span 3;
          grid-row: 1 / 2; } }
    .materials__img--2 {
      grid-column: 4 / span 4;
      grid-row: 2 / -1;
      object-fit: cover;
      z-index: 10; }
      @media only screen and (max-width: 56.25em) {
        .materials__img--2 {
          grid-row: 1 / 6; } }
      @media only screen and (max-width: 37.45em) {
        .materials__img--2 {
          grid-column: 1/-1;
          grid-row: 2 / 3; } }
    .materials__img--3 {
      grid-column: 7 / -1;
      grid-row: 4/-1;
      object-fit: cover; }
      @media only screen and (max-width: 56.25em) {
        .materials__img--3 {
          grid-row: 2 / 7; } }
      @media only screen and (max-width: 37.45em) {
        .materials__img--3 {
          grid-column: 1/-1;
          grid-row: 3 / 4; } }
    .materials__img:not(:hover) {
      transform: scale(0.9); }
    .materials__img:hover {
      z-index: 200;
      box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
      outline: 1rem solid #222f33; }

.innovation {
  background-color: #222f33;
  padding: 8rem 0rem;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end]; }
  .innovation__grid {
    grid-column: center-start/center-end;
    align-content: center;
    display: grid;
    grid-template-rows: min-content max-content;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-column-gap: 4rem;
    grid-row-gap: 1rem; }
  .innovation__text {
    opacity: 0.7;
    font-size: 1.4rem;
    grid-row: 2/3; }
    .innovation__text--2 {
      grid-row: 2/3; }

.features {
  background-color: #fff;
  grid-column: full-start/full-end;
  padding: 9rem 0;
  display: grid;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end]; }
  .features__grid {
    grid-column: center-start/center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(37rem, 1fr));
    justify-items: center; }
    @media only screen and (max-width: 75em) {
      .features__grid {
        grid-column-gap: 3rem;
        align-items: center; } }
    @media only screen and (max-width: 50em) {
      .features__grid {
        grid-template-rows: repeat(2, 1fr);
        grid-column: col-start 4 / col-end 5;
        grid-row-gap: 3rem; } }
    @media only screen and (max-width: 37.45em) {
      .features__grid {
        grid-template-rows: min-content max-content; } }
  .features__photo {
    height: 10rem; }
  .features__img {
    height: auto;
    width: 100%;
    object-fit: cover; }
  .features__text-block {
    display: grid;
    grid-template-columns: repeat(2, minmax(6rem, 1fr));
    grid-column-gap: 6rem;
    grid-row-gap: 4rem; }
    @media only screen and (max-width: 50em) {
      .features__text-block {
        grid-row: 2/-1;
        grid-row-gap: 2rem; } }
  .features__text {
    color: #646d70;
    font-size: 1.2rem;
    opacity: 0.7; }

.footer {
  background-color: #222f33;
  padding: 4rem 0;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  align-items: center;
  justify-items: center; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: inherit;
    opacity: 0.6;
    font-size: 1.5rem;
    transition: opacity 0.2s; }
  .footer__link:hover, .footer__link:active {
    opacity: 1; }
  .footer__link:last-child {
    margin-left: 3rem; }

.nav {
  grid-column: center-start/center-end;
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 37.45em) {
    .nav {
      align-items: center; } }
  .nav__list {
    list-style: none;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 37.45em) {
      .nav__list {
        display: none; } }
  .nav__item:not(:last-child) {
    margin-right: 4rem; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    text-transform: capitalize;
    color: inherit;
    font-size: 1.5rem;
    font-weight: 500;
    display: inline-block;
    transition: all 0.2s; }
  .nav__link:hover, .nav__link:active {
    color: #606b74; }
  .nav__btn-block {
    display: none;
    cursor: pointer;
    height: 5rem;
    width: 5rem; }
    @media only screen and (max-width: 37.45em) {
      .nav__btn-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  .nav__btn {
    display: none; }
    @media only screen and (max-width: 37.45em) {
      .nav__btn {
        transition: all 0.2s;
        background-color: #fff;
        width: 4.5rem;
        height: 2px;
        position: relative;
        display: block; }
        .nav__btn::after, .nav__btn::before {
          content: '';
          display: block;
          background-color: #fff;
          width: 4.5rem;
          height: 2px;
          transition: all 0.2s; }
        .nav__btn::before {
          position: absolute;
          top: -1.5rem; }
        .nav__btn::after {
          position: absolute;
          top: 1.5rem; } }

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 0%;
  transition: all 0.5s;
  background-color: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden; }
  .slide .list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem; }
    .slide .list__item {
      display: inline-block; }
    .slide .list__link:link, .slide .list__link:visited {
      font-size: 2rem;
      color: #646d70;
      display: inline-block;
      padding: 1rem 2rem;
      transition: all 0.3s;
      text-decoration: none;
      margin-bottom: 2rem; }
    .slide .list__link:hover, .slide .list__link:active {
      background-color: #222f33;
      color: #fff; }
  .slide__close {
    position: absolute;
    top: 4rem;
    right: 4rem;
    text-decoration: none;
    font-size: 4rem;
    color: #646d70; }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 4px;
  background-color: #fff;
  font-size: 1.5rem;
  color: #606b74;
  font-weight: 500;
  transition: all 0.3s;
  border: 1px solid transparent; }

.btn--full:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: inherit;
  background-color: transparent;
  border: 1px solid #fff;
  transform: translateY(-2px) scale(1.03); }

.btn--full:active {
  transform: translateY(0) scale(1.03); }

.btn--bold:link, .btn--bold:visited {
  background-color: transparent;
  border: 1px solid #646d70;
  justify-self: start;
  align-self: start; }

.btn--bold:hover {
  background-color: #222f33;
  color: inherit; }

.heading-primary, .heading-secondary, .heading-tertiary {
  font-weight: 900;
  font-family: 'Merriweather', sans-serif; }

.heading-primary {
  font-size: 3rem; }

.heading-secondary {
  font-size: 3rem;
  color: #222f33; }
  .heading-secondary--white {
    color: #fff; }

.heading-tertiary {
  font-size: 1.8rem;
  color: #222f33; }

@keyframes scaleUp {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.4); }
  50%,
  100% {
    transform: scale(1); } }
