// FONTS
$font-primary: 'Rubik', sans-serif;
$font-display: 'Merriweather', sans-serif;

// COLORS
$color-primary: #fff;
$color-btn: #606b74;
$color-btn-border: #646d70;
$color-black: #000;
$color-dark-green: #222f33;
$color-text: #646d70;

// FONT SIZE
$default-font-size: 1.5rem;

// BREAKPOINTS
$bp-largest: 75em;
$bp-large: 56.25em;
$bp-medium: 50em;
$bp-small: 37.45em;
$bp-tiny: 30em;
